click==6.7
Flask==1.0
flask-rdf==0.2.1
isodate==0.6.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pyparsing==2.2.0
python-mimeparse==0.1.4
rdflib==4.2.2
rdflib-jsonld==0.4.0
six==1.11.0
Werkzeug==0.15.3
